{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 80,
                "proseWrap": "preserve"
            }
        },
        {
            "files": [
                "*.json",
                "*.jsonc"
            ],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}