# Storefront local environment
# Backend Medusa URL (dev)
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Publishable API Key (crie no Admin > API Keys)
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_xxxxx

# Região default (iso2)
NEXT_PUBLIC_DEFAULT_REGION=us

# PostHog Analytics (opcional)
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_project_api_key
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
