# Your Medusa backend, should be updated to where you are hosting your server. Remember to update CORS settings for your server. See – https://docs.medusajs.com/usage/configurations#admin_cors-and-store_cors
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Your publishable key that can be attached to sales channels. See - https://docs.medusajs.com/development/publishable-api-keys
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_test

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Production domain
NEXT_PUBLIC_SITE_URL=https://yellosolarhub.com

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format. 
NEXT_PUBLIC_DEFAULT_REGION=br

# Your Next.js revalidation secret. See – https://nextjs.org/docs/app/building-your-application/data-fetching/fetching-caching-and-revalidating#on-demand-revalidation
REVALIDATE_SECRET=supersecret

# Contact Information
NEXT_PUBLIC_CONTACT_EMAIL=contato@yellosolarhub.com
NEXT_PUBLIC_SUPPORT_EMAIL=suporte@yellosolarhub.com
NEXT_PUBLIC_DEV_EMAIL=dev@yellosolarhub.com
NEXT_PUBLIC_COMPLIANCE_EMAIL=compliance@yellosolarhub.com
NEXT_PUBLIC_TECH_EMAIL=fernando@yellosolarhub.com

# Phone Numbers
NEXT_PUBLIC_TECH_PHONE=+552179209021
NEXT_PUBLIC_WHATSAPP_NUMBER=5521968882751
NEXT_PUBLIC_WHATSAPP_HELIO=5521996371563
